#Jumbo {
    background-color: black;
    position: absolute;

    top: 10vh;
    width: 50vw;
    border-radius: .5%;

    display: flex;
    justify-content: center;
}

#jumbo-container {
    display: flex;
    justify-content: center;
}

.videoTag {
    width: 50vw;
    border-radius: .5%;
}